/* custom fonts */
@font-face {
    font-family: 'SafePoppins';
    src: local('SafePoppins'), url(./custom/styles/PoppinsBold.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }